#todo-list {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}

.todobox {
  border: none;
}

.todo {
border:none;
}

.container {
  width: 800px;
}
.glyphicon {
  position: relative;
  left:20px;
  right:20px;
}


.done-true  {
    color: #ccc;
    margin-left: 10px;
    text-decoration: line-through;
    border:none;
}
.done-false  {
    margin-left: 10px;
    border:none;
}


.title {
  background: #4DB6AC;
  text-align: center;
}

.priority {
  width: 5em;
  height: 20px;
  display: inline-block;
  position: absolute;
  right:3em;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #777;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.4em;
}
.priority.medium {
  background-color: #FFCB00;
}
.priority.high {
  background-color: red;
}